html, body {
    height: 100%;
    background-image:  url(http://vignette2.wikia.nocookie.net/tmnt/images/e/e7/Tmnt-coverspread.jpg/revision/latest/scale-to-width/1000?cb=20110520014218);
        background-size: contain;       
    background-repeat: no-repeat;
              /* optionally, center the image */
}
#createheadertext{
    color: white;
}
.labeltext{
    color: white;
}

#container {
min-height: 100%;
margin-bottom: -80px;
position: relative;
}


#footer {
height: 80px;
position: relative;
}

.clearfooter {
height: 80px;
clear: both;
}



